$title-font: 'Lato', sans-serif;
$title-font-light: 300;
$title-font-light-400: 400;

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  font-weight: $title-font-light;
}

p, a, li {
  font-family: $title-font;
}
