---
title: Uh-Oh!
---

<div class="container">
  <div class="error">
    <h1>Oops, something went wrong!</h1>
    <p>We can't find the page you're looking for :(</p>
    <p>If you want, head back home little guy.</p>
    <a href="/">Home</a>
  </div>
</div>
