---
title: Home
---

<div class="main">
  <div class="header">
    <div class="top-divider"></div>
    <div class="header-hero">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNav" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
          </div>

          <div class="collapse navbar-collapse" id="myNav">
            <ul class="nav navbar-nav pull-right">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="header-hero-content">
          <h1>let's build something great together.</h1>
          <a href="#" class="btn btn-default header-hero-btn">Get Started</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-divider"></div>
  <div class="portfolio-sec">
    <div class="container">
      <div class="portfolio-sec-header">
        <h3>i create cool things, for cool people.</h3>
        <div class="title-divider"></div>
        <div class="row">
          <div class="col-md-6">
            <img src="http://placehold.it/300x250" alt="">
          </div>
          <div class="col-md-6">
            <h3>emlabs</h3>
            <p>some filler text here that explains the project and what it was
            built for.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3>adeo</h3>
            <p>some filler text here that explains the project and what it was
            built for.</p>
          </div>
          <div class="col-md-6">
            <img src="http://placehold.it/300x250" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
