---
title: Home
---

<div class="main">
  <div class="header">
    <div class="header-hero">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNav" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
          </div>

          <div class="collapse navbar-collapse" id="myNav">
            <ul class="nav navbar-nav pull-right">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="header-hero-content">
          <h1>let's build something great together.</h1>
          <a href="#" class="btn btn-default header-hero-btn">Get Started</a>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-sec">
    <div class="container">
      <div class="portfolio-sec-header">
        <h3>i create cool things, for cool people.</h3>
        <div class="title-divider"></div>
      </div>
      <div class="portfolio-sec-content">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="portfolio-card">
              <div class="row">
                <div class="col-md-8 col-sm-8">
                  <div class="portfolio-card-inner">
                    <p class="portfolio-card-title">adeo</p>
                    <hr>
                    <p class="portfolio-card-sub">A brief description of the project
                    and what it was built for. Also what tools were used.</p>
                    <a href="#" class="btn btn-default card-btn">View Code</a>
                    <a href="#" class="btn btn-default card-btn site-btn">Visit Website</a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <img class="portfolio-card-img img-responsive" src="http://placehold.it/200x150" alt="">
                </div>
              </div>
            </div>
            <div class="portfolio-card">
              <div class="row">
                <div class="col-md-8 col-sm-8">
                  <div class="portfolio-card-inner">
                    <p class="portfolio-card-title">adeo</p>
                    <hr>
                    <p class="portfolio-card-sub">A brief description of the project
                    and what it was built for. Also what tools were used.</p>
                    <a href="#" class="btn btn-default card-btn">View Code</a>
                    <a href="#" class="btn btn-default card-btn site-btn">Visit Website</a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <img class="portfolio-card-img img-responsive" src="http://placehold.it/200x150" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
