---
title: Home
---

<div class="main">
  <div class="header">
    <div class="header-hero">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNav" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
          </div>

          <div class="collapse navbar-collapse" id="myNav">
            <ul class="nav navbar-nav pull-right">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="header-hero-content">
          <h1>let's build something great together.</h1>
          <a href="#" class="btn btn-default header-hero-btn">Get Started</a>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-sec">
    <div class="container">
      <div class="portfolio-sec-header">
        <h2>i create cool things, for cool people.</h2>
        <div class="title-divider"></div>
      </div>
      <div class="portfolio-sec-content">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="portfolio-card">
              <div class="row">
                <div class="col-md-8 col-sm-8">
                  <div class="portfolio-card-inner">
                    <p class="portfolio-card-title">emlabs</p>
                    <hr>
                    <p class="portfolio-card-sub">Emlabs is a website built to curate projects that
                    groups of developers can contribute too.</p>
                    <a href="https://github.com/extramundane/extramundane.github.io" class="btn btn-default card-btn">View Code</a>
                    <a href="https://emlabs.xyz/" class="btn btn-default card-btn site-btn">Visit Website</a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <img class="portfolio-card-img img-responsive" src="../images/emlabs.png" alt="">
                </div>
              </div>
            </div>
            <div class="portfolio-card">
              <div class="row">
                <div class="col-md-8 col-sm-8">
                  <div class="portfolio-card-inner">
                    <p class="portfolio-card-title">turnkeys</p>
                    <hr>
                    <p class="portfolio-card-sub">The Turnkeys website was built to provide an avenue
                    for clients to gain a deeper understaning of their services.</p>
                    <a href="http://www.turnkeyss.ca/" class="btn btn-default card-btn site-btn">Visit Website</a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <img class="portfolio-card-img img-responsive" src="../images/turnkeys.png" alt="">
                </div>
              </div>
            </div>
            <div class="portfolio-card">
              <div class="row">
                <div class="col-md-8 col-sm-8">
                  <div class="portfolio-card-inner">
                    <p class="portfolio-card-title">campground finder</p>
                    <hr>
                    <p class="portfolio-card-sub">A dummy application built for members to search
                    campgrounds and leave reviews.</p>
                    <a href="https://github.com/Munsterberg/campground-finder" class="btn btn-default card-btn">View Code</a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <img class="portfolio-card-img img-responsive" src="../images/campground.png" alt="">
                </div>
              </div>
            </div>
            <div class="portfolio-card">
              <div class="row">
                <div class="col-md-8 col-sm-8">
                  <div class="portfolio-card-inner">
                    <p class="portfolio-card-title">lolapp</p>
                    <hr>
                    <p class="portfolio-card-sub">An old personal project built for finding online games
                    in League of Legends.</p>
                    <a href="https://github.com/Munsterberg/lolapp-redux" class="btn btn-default card-btn">View Code</a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <img class="portfolio-card-img img-responsive" src="../images/lolapp.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-sec">
    <div class="container">
      <img src="http://placehold.it/200x200" class="img-responsive about-sec-img" alt="">
      <p class="about-sec-content">Hi, I'm Jake. I develop responsive, content-driven websites and applications that fit your business
      needs.</p>
      <a href="#" class="btn btn-default about-sec-btn">Contact Me</a>
    </div>
  </div>
</div>
