.header-hero-btn {
  background-color: transparent;
  margin-bottom: 150px;
  border-width: 1px;
  font-size: 17px;
  border-color: $primary-color;
  color: $primary-color;
  border-radius: 20px;
  font-weight: $title-font-light;

  &::after {
    font-family: FontAwesome;
    font-size: 18px;
    content: '\f105';
    padding-left: 5px;
    right: 0;
    position: relative;
    transform: translateZ(0);
    transition: transform 0.3s;
  }

  &:hover {
    background-color: transparent;
    color: $primary-color;
    border-color: $primary-color;

    &::after {
      left: 5px;
      padding-right: 5px;
      transform: translateZ(4px);
    }
  }
}

.card-btn {
  background-color: $primary-color;
  font-size: 12px;
  border: none;
  padding: 4px 8px;
  color: #fff;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
    color: #fff;
  }
}

.site-btn {
  background-color: #27ae60;

  &:hover {
    background-color: darken(#27ae60, 10%);
  }
}
