.portfolio-sec {
  background-color: $secondary-color;
  color: #fff;
}

.portfolio-sec-header {
  text-align: center;
}

.title-divider {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #fff;
  margin: auto;
  border-radius: 5px;
}
